APP_NAME=SmallPict Rust Service
APP_PORT=8007
APP_HOST=0.0.0.0

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/smallpict?sslmode=disable

# SmallPict
SMALLPICT_MODE=locale # locale | cdn
SMALLPICT_BASE_URL=https://api.smallpict.app
SMALLPICT_API_KEY=
SMALLPICT_SECRET_KEY=
SMALLPICT_FORMAT=auto
SMALLPICT_QUALITY=80

UPLOAD_PATH=./uploads
