APP_NAME=SmallPict Ruby Service
APP_PORT=8003
APP_HOST=0.0.0.0

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=smallpict
DB_SSLMODE=disable

# SmallPict
SMALLPICT_MODE=locale # locale | cdn
SMALLPICT_BASE_URL=https://api.smallpict.app
SMALLPICT_API_KEY=
SMALLPICT_SECRET_KEY=
SMALLPICT_FORMAT=auto
SMALLPICT_QUALITY=80

UPLOAD_PATH=./uploads
